@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    color: burlywood;
    line-height: 1.6;
    text-align: center;
}


h1,h2,h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}

h1 {
    font-size: px;
}

h2 {
    font-size: 26px;
}
h3 {
    font-size: 18;
}

.contenedor {
    max-width: 720px;
    margin: 10px auto;
    padding: 24px;
}

#encabezado {
    background-color: brown;
    border-bottom: 4px solid #B5652D;
}

#encabezado .contenedor {
    text-align: center;
    font-family: "Fraunces", Georgia, serif;
    color: white;
    margin: bottom;
    letter-spacing: 1px;
    font-size: larger;
}

.marca {

}

.seccion-clara{
    background-color: white;
}

.seccion-oscura {
    background-color: white;
}

.seccion .contenedor{ 
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}